doctype html
html(lang='en')
  head
    title COINEX - Crypto Currency HTML Template 
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Favicon
    link(rel='shortcut icon', href='/images/favicon.ico')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=PT+Sans&Ubuntu:400,500,700', rel='stylesheet')
    // Bootstrap CSS
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    // Magnific Popup CSS
    link(rel='stylesheet', type='text/css', href='/css/magnific-popup/magnific-popup.css')
    // owl-carousel CSS
    link(rel='stylesheet', type='text/css', href='/css/owl-carousel/owl.carousel.css')
    // Animate CSS
    link(rel='stylesheet', type='text/css', href='/css/animate.css')
    // Font Awesome
    link(rel='stylesheet', type='text/css', href='/css/font-awesome.css')
    // Ionicons CSS
    link(rel='stylesheet', type='text/css', href='/css/ionicons.min.css')
    // Flaticon CSS
    link(rel='stylesheet', type='text/css', href='/css/flaticon.css')
    // Flaticon CSS
    link(rel='stylesheet', type='text/css', href='/css/shop.css')
    // REVOLUTION STYLE SHEETS
    link(rel='stylesheet', type='text/css', href='/revslider/css/settings.css')
    // style CSS
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    // Responsive CSS
    link(rel='stylesheet', type='text/css', href='/css/responsive.css')
    // Custom CSS
    link(rel='stylesheet', type='text/css', href='/css/custom.css')
    
    style.
      #captcha_input{
      margin-top:10%;
      margin-left:6%;
      }
      
      #captcha_input1{
      margin-top:10%;
      }

      @media(max-width:767px) {
      #captcha_input{
      margin-left:-4%;
      }
      }

  body
    // loading
    #loading
      #loading-center
        img(src='/images/loader.gif', alt='loder')
    // loading End
    // Header
    header.simpal-yellow
      .topbar
        .container
          .row
            .col-lg-6.col-md-6.col-sm-6
              .topbar-left
                ul.list-inline
                  li.list-inline-item
                    i.fa.fa-envelope-o  
                    |  support@coinex.com
            .col-lg-6.col-md-6.col-sm-6
              .topbar-right.text-right
                ul.list-inline
                  li.list-inline-item
                    ul.list-inline.iq-left
                      li.list-inline-item
                        a(href='#', data-toggle='modal', data-target='.iq-login', data-whatever='@mdo')
                          i.fa.fa-lock
                          | Login
                      li.list-inline-item
                        a(href='#', data-toggle='modal', data-target='.iq-register', data-whatever='@fat')
                          i.fa.fa-user
                          | Register
      .iq-header
        .container
          .row
            .col-md-12
              .logo
                a(href='home-1.html')
                  img.img-fluid(src='/images/logo.png', alt='logo')
              nav
                a#resp-menu.responsive-menu(href='#')
                  i.fa.fa-reorder
                  |  Menu
                ul.menu.text-right
                  li
                    a.active(href='javascript:void(0)') HOME
                    ul.sub-menu
                      li
                        a(href='home-1.html') Home 1
                      li
                        a.active(href='home-2.html') Home 2
                      li
                        a(href='home-3.html') Home 3
                      li
                        a(href='home-4.html') Home 4
                      li
                        a(href='home-5.html') Home 5
                      li
                        a(href='app-landing-page.html') App Landing Page
                  li
                    a(href='javascript:void(0)') Pages
                    ul.sub-menu
                      li
                        a(href='about-us.html') About Us
                      li
                        a(href='javascript:void(0)')
                          | Services 
                          i.fa.fa-angle-right(aria-hidden='true')
                        ul
                          li
                            a(href='services-1.html') Services 1
                          li
                            a(href='services-2.html') Services 2
                          li
                            a(href='services-3.html') Services 3
                          li
                            a(href='services-details.html') Services Details
                      li
                        a(href='history.html') History
                      li
                        a(href='event.html') Event
                      li
                        a(href='customer-support.html') Customer Support
                      li
                        a(href='clients.html') Clients
                      li
                        a(href='javascript:void(0)')
                          | Team 
                          i.fa.fa-angle-right(aria-hidden='true')
                        ul
                          li
                            a(href='team-1.html') Team 1
                          li
                            a(href='team-2.html') Team 2
                          li
                            a(href='team-details.html') Team Details
                      li
                        a(href='javascript:void(0)')
                          | Pricing 
                          i.fa.fa-angle-right(aria-hidden='true')
                        ul
                          li
                            a(href='pricing.html') Pricing 1
                          li
                            a(href='pricing-1.html') Pricing 2
                      li
                        a(href='javascript:void(0)')
                          | Faq 
                          i.fa.fa-angle-right(aria-hidden='true')
                        ul
                          li
                            a(href='faqs-1.html') Faq 1
                          li
                            a(href='faqs-2.html') Faq 2
                      li
                        a(href='javascript:void(0)')
                          | Coming Soon 
                          i.fa.fa-angle-right(aria-hidden='true')
                        ul
                          li
                            a(href='coming-soon-1.html') Coming Soon 1
                          li
                            a(href='coming-soon-2.html') Coming Soon 2
                      li
                        a(href='javascript:void(0)')
                          | Error 
                          i.fa.fa-angle-right(aria-hidden='true')
                        ul
                          li
                            a(href='error-404-1.html') Error 404 1
                          li
                            a(href='error-404-2.html') Error 404 2
                      li
                        a(href='javascript:void(0)')
                          | Breadcrumb 
                          i.fa.fa-angle-right(aria-hidden='true')
                        ul
                          li
                            a(href='breadcrumb-left.html') Breadcrumb left
                          li
                            a(href='breadcrumb-right.html') Breadcrumb Right
                          li
                            a(href='breadcrumb-center.html') Breadcrumb Center
                      li
                        a(href='video.html') Video
                  li
                    a(href='javascript:void(0)') Coin
                    ul.sub-menu
                      li
                        a(href='market-data.html') Market Data
                      li
                        a(href='wallet.html') WallEt
                      li
                        a(href='buy-sell.html') buy & sell
                      li
                        a(href='exchange.html') Exchange
                  li
                    a(href='javascript:void(0)') Blog
                    ul.sub-menu
                      li
                        a(href='blog-2-columns.html') 2 Columns
                      li
                        a(href='blog-3-columns.html') 3 Columns
                      li
                        a(href='blog-fullwidth.html') Full Width
                      li
                        a(href='blog-left-sidebar.html') Left Sidebar
                      li
                        a(href='blog-right-sidebar.html') Right Sidebar
                      li
                        a(href='blog-single.html') Single Page
                      li
                        a(href='blog-single-left-sidebar.html') Single Right Sidebar
                      li
                        a(href='blog-single-right-sidebar.html') Single Left Sidebar
                  li
                    a(href='javascript:void(0)') Shop
                    ul.sub-menu
                      li
                        a(href='shop.html') Shop
                      li
                        a(href='shop-2-columns.html') Shop 2 columns
                      li
                        a(href='shop-single.html') Shop Single
                      li
                        a(href='shop-cart.html') Shop Cart
                      li
                        a(href='checkout.html') checkout
                  li
                    a(href='javascript:void(0)') Contact
                    ul.sub-menu
                      li
                        a(href='contact-1.html') Contact Us 1
                      li
                        a(href='contact-2.html') Contact Us 2
                  li
                    .iq-search
                      a.search-btn.not_click(href='javascript:void(0);')
                        span Search Button
                      .search-box.not-click
                        input#exampleInputEmail1.form-control.not-click(type='email', placeholder='Search')
                        i.ti-search
    // Header End
    .clearfix
    // Banner
    #rev_slider_4_1_wrapper.rev_slider_wrapper.fullwidthbanner-container(data-alias='coinexhd', data-source='gallery', style='margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;')
      // START REVOLUTION SLIDER 5.4.6.3 fullwidth mode
      #rev_slider_4_1.rev_slider.fullwidthabanner.tp-overflow-hidden(style='display:none;', data-version='5.4.6.3')
        ul
          // SLIDE
          li(data-index='rs-12', data-transition='fade', data-slotamount='default', data-hideafterloop='0', data-hideslideonmobile='off', data-easein='default', data-easeout='default', data-masterspeed='500', data-thumb='revslider/assets/100x50_da8db-28.jpg', data-rotate='0', data-saveperformance='off', data-title='Slide', data-param1='', data-param2='', data-param3='', data-param4='', data-param5='', data-param6='', data-param7='', data-param8='', data-param9='', data-param10='', data-description='')
            // MAIN IMAGE
            img.rev-slidebg(src='/revslider/assets/da8db-28.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat', data-no-retina='')
            // LAYERS
            // LAYER NR. 1
            #slide-12-layer-1.tp-caption.tp-resizeme(data-x='center', data-hoffset='', data-y='center', data-voffset='', data-width="['none','none','none','none']", data-height="['none','none','none','none']", data-type='image', data-responsive_offset='on', data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]', data-textalign="['inherit','inherit','inherit','inherit']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 5;')
              .rs-looped.rs-rotate(data-easing='', data-startdeg='90', data-enddeg='-90', data-speed='100', data-origin='50% 50%')
                img(src='/revslider/assets/e1e0d-circle.png', alt='', data-ww='435px', data-hh='434px', data-no-retina='')
            // LAYER NR. 2
            #slide-12-layer-5.tp-caption.tp-resizeme(data-x='right', data-hoffset='100', data-y='center', data-voffset='', data-width="['none','none','none','none']", data-height="['none','none','none','none']", data-type='image', data-responsive_offset='on', data-frames='[{"delay":2500,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]', data-textalign="['inherit','inherit','inherit','inherit']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 6;')
              img(src='/revslider/assets/c591f-right.png', alt='', data-ww='350px', data-hh='492px', data-no-retina='')
            // LAYER NR. 3
            #slide-12-layer-3.tp-caption.tp-resizeme(data-x='100', data-y='center', data-voffset='', data-width="['none','none','none','none']", data-height="['none','none','none','none']", data-type='image', data-responsive_offset='on', data-frames='[{"delay":2500,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]', data-textalign="['inherit','inherit','inherit','inherit']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 7;')
              img(src='/revslider/assets/c2657-left.png', alt='', data-ww='350px', data-hh='491px', data-no-retina='')
            // LAYER NR. 4
            #slide-12-layer-2.tp-caption.tp-resizeme(data-x='center', data-hoffset='', data-y='center', data-voffset='', data-width="['none','none','none','none']", data-height="['none','none','none','none']", data-type='image', data-responsive_offset='on', data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]', data-textalign="['inherit','inherit','inherit','inherit']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 8;')
              img(src='/revslider/assets/80f67-coin.png', alt='', data-ww='319px', data-hh='320px', data-no-retina='')
          // SLIDE
          li(data-index='rs-14', data-transition='random-static,random-premium,random', data-slotamount='default,default,default,default', data-hideafterloop='0', data-hideslideonmobile='off', data-randomtransition='on', data-easein='default,default,default,default', data-easeout='default,default,default,default', data-masterspeed='default,default,default,default', data-thumb='revslider/assets/100x50_913ee-chart.jpg', data-rotate='0,0,0,0', data-saveperformance='off', data-title='Slide', data-param1='', data-param2='', data-param3='', data-param4='', data-param5='', data-param6='', data-param7='', data-param8='', data-param9='', data-param10='', data-description='')
            // MAIN IMAGE
            img.rev-slidebg(src='/revslider/assets/913ee-chart.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat', data-no-retina='')
            // LAYERS
            // LAYER NR. 5
            #slide-14-layer-1.tp-caption.Gym-Subline.tp-resizeme(data-x='30', data-y='center', data-voffset='-100', data-width="['964']", data-height="['auto']", data-type='text', data-responsive_offset='on', data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]', data-textalign="['inherit','inherit','inherit','inherit']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 5; min-width: 964px; max-width: 964px; white-space: nowrap; font-size: 65px; line-height: 80px; font-weight: 300; color: #ffffff; letter-spacing: 0px;font-family:Ubuntu;text-transform:uppercase;')
              | the internationally
              br
              span.iq-font-yellow.iq-tw-6 'cyber'
              | money.
            // LAYER NR. 6
            #slide-14-layer-2.tp-caption.tp-resizeme(data-x='30', data-y='center', data-voffset='30', data-width="['771']", data-height="['73']", data-type='text', data-responsive_offset='on', data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]', data-textalign="['inherit','inherit','inherit','inherit']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 6; min-width: 771px; max-width: 771px; max-width: 73px; max-width: 73px; white-space: nowrap; font-size: 14px; line-height: 24px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Raleway;')
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              br
              |  industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing
              br
              | and typesetting industry. Lorem Ipsum has been the industry's standard.
            // LAYER NR. 7
            #slide-14-layer-6.tp-caption.button.rev-btn(data-x='30', data-y='center', data-voffset='113', data-width="['auto']", data-height="['auto']", data-type='button', data-responsive_offset='on', data-frames='[{"delay":2760,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":""}]', data-textalign="['inherit','inherit','inherit','inherit']", data-paddingtop='[4,4,4,4]', data-paddingright='[20,20,20,20]', data-paddingbottom='[4,4,4,4]', data-paddingleft='[20,20,20,20]') About Us 
          // SLIDE
          li(data-index='rs-16', data-transition='fade', data-slotamount='default', data-hideafterloop='0', data-hideslideonmobile='off', data-easein='default', data-easeout='default', data-masterspeed='500', data-thumb='revslider/assets/100x50_a24d6-29.jpg', data-rotate='0', data-saveperformance='off', data-title='Slide', data-param1='', data-param2='', data-param3='', data-param4='', data-param5='', data-param6='', data-param7='', data-param8='', data-param9='', data-param10='', data-description='')
            // MAIN IMAGE
            img.rev-slidebg(src='/revslider/assets/a24d6-29.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat', data-no-retina='')
            // LAYERS
            // LAYER NR. 8
            #slide-16-layer-10.tp-caption.tp-resizeme(data-x='30', data-y='center', data-voffset='-145', data-width="['448']", data-height="['auto']", data-type='text', data-responsive_offset='on', data-frames='[{"delay":2670,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 5; min-width: 448px; max-width: 448px; white-space: nowrap; font-size: 48px; line-height: 75px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Ubuntu;text-transform:uppercase;') Bitcoin digital 
            // LAYER NR. 9
            #slide-16-layer-19.tp-caption.tp-resizeme(data-x='30', data-y='center', data-voffset='-78', data-width="['639']", data-height="['auto']", data-type='text', data-responsive_offset='on', data-frames='[{"delay":2670,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 6; min-width: 639px; max-width: 639px; white-space: nowrap; font-size: 58px; line-height: 68px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Ubuntu;text-transform:uppercase;')
              span.iq-font-yellow.iq-tw-6 cryptocurrency.
            // LAYER NR. 10
            #slide-16-layer-16.tp-caption.tp-resizeme(data-x='30', data-y='center', data-voffset='-22', data-width="['auto']", data-height="['auto']", data-type='text', data-responsive_offset='on', data-frames='[{"delay":2670,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 7; white-space: nowrap; font-size: 26px; line-height: 50px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Raleway;') Send and Get Money Anywhere in the World! 
            // LAYER NR. 11
            #slide-16-layer-12.tp-caption.tp-resizeme(data-x='right', data-hoffset='-95', data-y='bottom', data-voffset='-10', data-width="['none','none','none','none']", data-height="['none','none','none','none']", data-type='image', data-responsive_offset='on', data-frames='[{"delay":500,"speed":1200,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]', data-textalign="['inherit','inherit','inherit','inherit']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 8;')
              img(src='/revslider/assets/a47fe-30.png', alt='', data-ww='579px', data-hh='517px', data-no-retina='')
            // LAYER NR. 12
            #slide-16-layer-14.tp-caption.tp-resizeme(data-x='', data-y='bottom', data-voffset='', data-width="['none','none','none','none']", data-height="['none','none','none','none']", data-type='image', data-responsive_offset='on', data-frames='[{"delay":1700,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]', data-textalign="['inherit','inherit','inherit','inherit']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 9;')
              img(src='/revslider/assets/a579e-31.png', alt='', data-ww='572px', data-hh='334px', data-no-retina='')
        .tp-bannertimer.tp-bottom(style='visibility: hidden !important;')
    // Banner End
    // Main Content
    .main-content
      // Action Box
      section.overview-block-ptb3.banner-stars.action-box.yellow-bg
        .container
          .row.h-100
            .col-lg-3.col-md-6.col-sm-6.col-xs-6
              center
                .row
                  .col-sm-12
                    h6(style='font-weight: 900;') BTC/USD
                  .col-sm-12(style='margin-bottom:20px;margin-top:10px;font-size:20px;')
                    | 8346.86265
            .col-lg-3.col-md-6.col-sm-6.col-xs-6
              center
                .row
                  .col-sm-12
                    h6(style='font-weight: 900;') ETH/USD
                  .col-sm-12(style='margin-bottom:20px;margin-top:10px;font-size:20px;')
                    | 839.306545 
            .col-lg-3.col-md-6.col-sm-6.col-xs-6
              center
                .row
                  .col-sm-12
                    h6(style='font-weight: 900;') SIP/USD
                  .col-sm-12(style='margin-bottom:10px;margin-top:10px;font-size:20px;')
                    | 1.5              
            .col-lg-3.col-md-12
              center
                .row
                  .col-sm-12
                    a.button.dark.white(href='#') Join CryptoCurrency Revolution
        #stars
        #stars2
        #stars3
      // Action Box
      // How it Works
      section.overview-block-pt4
        .container
          .row
            .col-lg-4.col-md-12
              .iq-feature3.iq-bg.iq-mt-20
                .iq-icon
                  img.img-fluid(src='/images/services/icon/01.png', alt='')
                .fancy-content
                  h4.iq-tw-5 Fill Up Your Form
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                  .step 01
            .col-lg-4.col-md-12
              .iq-feature3.iq-bg.iq-mt-20
                .iq-icon
                  img.img-fluid(src='/images/services/icon/02.png', alt='')
                .fancy-content
                  h4.iq-tw-5 Payment
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                  .step 02
            .col-lg-4.col-md-12
              .iq-feature3.iq-bg.iq-mt-20
                .iq-icon
                  img.img-fluid(src='/images/services/icon/03.png', alt='')
                .fancy-content
                  h4.iq-tw-5 Buy or Sell Coin
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                  .step 03
          .row
            .col-sm-12.iq-mtb-60
              hr
      // How it Works
      // Features
      section.overview-block-pb
        .container
          .row
            .col-sm-12
              .heading-title
                h3.title.iq-tw-5.iq-mb-20 Bitcoin Features
                p
                  | Here is 3 Easy Steps to Busy & Sell Bitcoin. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          .row.iq-feature7
            .owl-carousel(data-nav-dots='true', data-nav-arrow='false', data-items='3', data-sm-items='2', data-lg-items='3', data-md-items='3', data-autoplay='true')
              .item
                .feature-aria
                  .feature-img
                    img.img-fluid(alt='', src='http://via.placeholder.com/370x240')
                  .feature-content.iq-mtb-30
                    .tag Awesome
                    h5.iq-font-dark.iq-tw-6 Safe & Secure
                    p
                      | Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scram bled it to make a type specimen book.
                    .read-more.green
                      a(href='#')
                        | Read More 
                        i.fa.fa-long-arrow-right(aria-hidden='true')
              .item
                .feature-aria
                  .feature-img
                    img.img-fluid(alt='', src='http://via.placeholder.com/370x240')
                  .feature-content.iq-mtb-30
                    .tag Creative
                    h5.iq-font-dark.iq-tw-6 Mobile Apps
                    p
                      | Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scram bled it to make a type specimen book.
                    .read-more.green
                      a(href='#')
                        | Read More 
                        i.fa.fa-long-arrow-right(aria-hidden='true')
              .item
                .feature-aria
                  .feature-img
                    img.img-fluid(alt='', src='http://via.placeholder.com/370x240')
                  .feature-content.iq-mtb-30
                    .tag Outstanding
                    h5.iq-font-dark.iq-tw-6 Wallet
                    p
                      | Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scram bled it to make a type specimen book.
                    .read-more.green
                      a(href='#')
                        | Read More 
                        i.fa.fa-long-arrow-right(aria-hidden='true')
              .item
                .feature-aria
                  .feature-img
                    img.img-fluid(alt='', src='http://via.placeholder.com/370x240')
                  .feature-content.iq-mtb-30
                    .tag Awesome
                    h5.iq-font-dark.iq-tw-6 Recuring Buys
                    p
                      | Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scram bled it to make a type specimen book.
                    .read-more.green
                      a(href='#')
                        | Read More 
                        i.fa.fa-long-arrow-right(aria-hidden='true')
              .item
                .feature-aria
                  .feature-img
                    img.img-fluid(alt='', src='http://via.placeholder.com/370x240')
                  .feature-content.iq-mtb-30
                    .tag Creative
                    h5.iq-font-dark.iq-tw-6 Instant Exchange
                    p
                      | Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scram bled it to make a type specimen book.
                    .read-more.green
                      a(href='#')
                        | Read More 
                        i.fa.fa-long-arrow-right(aria-hidden='true')
              .item
                .feature-aria
                  .feature-img
                    img.img-fluid(alt='', src='http://via.placeholder.com/370x240')
                  .feature-content.iq-mtb-30
                    .tag Outstanding
                    h5.iq-font-dark.iq-tw-6 Experts Support
                    p
                      | Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scram bled it to make a type specimen book.
                    .read-more.green
                      a(href='#')
                        | Read More 
                        i.fa.fa-long-arrow-right(aria-hidden='true')
      // Features
      // About Us
      section.overview-block-pt.iq-about1.iq-bg.iq-over-black-80.jarallax(style="background-image: url('http://via.placeholder.com/2000x1080'); background-position: left center;")
        .container
          .row.h-100
            img.img-fluid.iq-img(src='http://via.placeholder.com/361x655', alt='')
            .col-lg-6.col-md-12.iq-mb-80.offset-xl-2
              h2.iq-font-white.iq-tw-6
                | It’s New Currency 
                br
                span.iq-font-yellow  New Lifestyle! 
              p.iq-font-white.iq-mt-10
                | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              ul.listing-hand.iq-tw-5.iq-font-white
                li.iq-mt-20 Simply dummy text of the Lorem Ipsum is printing and type setting.
                li.iq-mt-20 Dummy text of the printing and typesetting industry.
                li.iq-mt-20 Text of the printing and typesetting industry Lorem Ipsum has been.
                li.iq-mt-20 Ipsum has been the industry's standard dummy since the 1500s,
            .col-xl-4.col-lg-6.col-md-12.iq-mb-80
              .calculator.white-bg.iq-pall-30
                h3.iq-tw-5.iq-font-yellow Bitcoin
                h5.iq-tw-5 to Currency Calculator
                p
                  | Lorem Idivsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                img.img-fluid(src='http://via.placeholder.com/300x130', alt='')
                a.button.dark.iq-mt-10(href='#') Buy Now!
      // About Us
      // Charts
      section.overview-block-ptb.grey-bg
        .container
          .row
            .col-lg-6.col-md-12
              .btcwdgt-chart
            .col-lg-6.col-md-12
              .heading-left
                h3.title.iq-tw-5 Bitcoin Charts
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                p
                  | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      // Charts
      // Team
      section.iq-news.overview-block-ptb
        .container
          .row
            .col-sm-12
              .heading-title
                h3.title.iq-tw-5.iq-mb-20 Bitcoin Team
                p
                  | Here is 3 Easy Steps to Busy & Sell Bitcoin. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          .row.iq-team2
            .owl-carousel(data-nav-dots='true', data-nav-arrow='false', data-items='3', data-lg-items='3', data-xs-items='1', data-sm-items='2', data-autoplay='true')
              .item
                .team-blog.iq-pall-20.text-center
                  img.img-fluid.text-center(alt='', src='http://via.placeholder.com/430x450')
                  .iq-font-yellow.iq-mt-20
                    h5.iq-font-dark.iq-tw-5
                      a(href='team-details.html')  Rinks Cooper
                    span CEO, CoinEx
                  p
                    | Simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book.
                  ul.iq-media-blog.iq-mt-10
                    li
                      a(href='# ')
                        i.fa.fa-twitter
                    li
                      a(href='# ')
                        i.fa.fa-facebook
                    li
                      a(href='# ')
                        i.fa.fa-google
                    li
                      a(href='# ')
                        i.fa.fa-github
              .item
                .team-blog.iq-pall-20.text-center
                  img.img-fluid.text-center(alt='', src='http://via.placeholder.com/430x450')
                  .iq-font-yellow.iq-mt-20
                    h5.iq-font-dark.iq-tw-5
                      a(href='team-details.html') JD Scot
                    span CEO, CoinEx
                  p
                    | Simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book.
                  ul.iq-media-blog.iq-mt-10
                    li
                      a(href='# ')
                        i.fa.fa-twitter
                    li
                      a(href='# ')
                        i.fa.fa-facebook
                    li
                      a(href='# ')
                        i.fa.fa-google
                    li
                      a(href='# ')
                        i.fa.fa-github
              .item
                .team-blog.iq-pall-20.text-center
                  img.img-fluid.text-center(alt='', src='http://via.placeholder.com/430x450')
                  .iq-font-yellow.iq-mt-20
                    h5.iq-font-dark.iq-tw-5
                      a(href='team-details.html') Haris Morgan
                    span CEO, CoinEx
                  p
                    | Simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book.
                  ul.iq-media-blog.iq-mt-10
                    li
                      a(href='# ')
                        i.fa.fa-twitter
                    li
                      a(href='# ')
                        i.fa.fa-facebook
                    li
                      a(href='# ')
                        i.fa.fa-google
                    li
                      a(href='# ')
                        i.fa.fa-github
              .item
                .team-blog.iq-pall-20.text-center
                  img.img-fluid.text-center(alt='', src='http://via.placeholder.com/430x450')
                  .iq-font-yellow.iq-mt-20
                    h5.iq-font-dark.iq-tw-5
                      a(href='team-details.html')  Rinks Cooper
                    span CEO, CoinEx
                  p
                    | Simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book.
                  ul.iq-media-blog.iq-mt-10
                    li
                      a(href='# ')
                        i.fa.fa-twitter
                    li
                      a(href='# ')
                        i.fa.fa-facebook
                    li
                      a(href='# ')
                        i.fa.fa-google
                    li
                      a(href='# ')
                        i.fa.fa-github
              .item
                .team-blog.iq-pall-20.text-center
                  img.img-fluid.text-center(alt='', src='http://via.placeholder.com/430x450')
                  .iq-font-yellow.iq-mt-20
                    h5.iq-font-dark.iq-tw-5
                      a(href='team-details.html') JD Scot
                    span CEO, CoinEx
                  p
                    | Simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book.
                  ul.iq-media-blog.iq-mt-10
                    li
                      a(href='# ')
                        i.fa.fa-twitter
                    li
                      a(href='# ')
                        i.fa.fa-facebook
                    li
                      a(href='# ')
                        i.fa.fa-google
                    li
                      a(href='# ')
                        i.fa.fa-github
              .item
                .team-blog.iq-pall-20.text-center
                  img.img-fluid.text-center(alt='', src='http://via.placeholder.com/430x450')
                  .iq-font-yellow.iq-mt-20
                    h5.iq-font-dark.iq-tw-5
                      a(href='team-details.html') Haris Morgan
                    span CEO, CoinEx
                  p
                    | Simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book.
                  ul.iq-media-blog
                    li
                      a(href='# ')
                        i.fa.fa-twitter
                    li
                      a(href='# ')
                        i.fa.fa-facebook
                    li
                      a(href='# ')
                        i.fa.fa-google
                    li
                      a(href='# ')
                        i.fa.fa-github
      // Team
      // Clients
      .iq-our-clients.iq-ptb-60.iq-bg.iq-over-black-80.jarallax(style="background-image: url('http://via.placeholder.com/1800x1200'); background-position: center center;")
        .container
          .row
            .col-lg-12.col-md-12
              .owl-carousel(data-nav-dots='false', data-nav-arrow='false', data-items='5', data-sm-items='3', data-lg-items='5', data-md-items='4', data-autoplay='true')
                .item
                  a(href='clients.html')
                    img.img-fluid.center-block(src='/images/clients/white/01.png', alt='#')
                .item
                  a(href='clients.html')
                    img.img-fluid.center-block(src='/images/clients/white/02.png', alt='#')
                .item
                  a(href='clients.html')
                    img.img-fluid.center-block(src='/images/clients/white/03.png', alt='#')
                .item
                  a(href='clients.html')
                    img.img-fluid.center-block(src='/images/clients/white/04.png', alt='#')
                .item
                  a(href='clients.html')
                    img.img-fluid.center-block(src='/images/clients/white/05.png', alt='#')
                .item
                  a(href='clients.html')
                    img.img-fluid.center-block(src='/images/clients/white/06.png', alt='#')
                .item
                  a(href='clients.html')
                    img.img-fluid.center-block(src='/images/clients/white/01.png', alt='#')
                .item
                  a(href='clients.html')
                    img.img-fluid.center-block(src='/images/clients/white/02.png', alt='#')
                .item
                  a(href='clients.html')
                    img.img-fluid.center-block(src='/images/clients/white/03.png', alt='#')
                .item
                  a(href='clients.html')
                    img.img-fluid.center-block(src='/images/clients/white/04.png', alt='#')
                .item
                  a(href='clients.html')
                    img.img-fluid.center-block(src='/images/clients/white/05.png', alt='#')
                .item
                  a(href='clients.html')
                    img.img-fluid.center-block(src='/images/clients/white/06.png', alt='#')
      // Clients
      // Testimonial
      .iq-news.overview-block-ptb.grey-bg
        .container
          .row.justify-content-center
            .col-lg-10.col-md-12.text-center
              img(src='/images/speack.png', alt='')
              .iq-testimonial.text-center
                #testimonial-slider.owl-carousel.owl-theme.owl-loaded(data-nav-dots='true', data-nav-arrow='false', data-items='1', data-xs-items='1', data-sm-items='1', data-md-items='1', data-lg-items='1', data-autoplay='true')
                  .testimonial
                    p.description
                      | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s.
                    h5.iq-tw-6 Rinks Cooper
                    span CEO, CoinEx
                  .testimonial
                    p.description
                      | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s.
                    h5.iq-tw-6 JD Scot
                    span CEO, CoinEx
                  .testimonial
                    p.description
                      | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s.
                    h5.iq-tw-6 Haris Morgan
                    span CEO, CoinEx
      // Testimonial
      // Latest News
      .iq-news.overview-block-ptb.white-bg
        .container
          .row
            .col-lg-12.col-md-12
              .heading-title
                h3.title.iq-tw-5.iq-mb-25 Latest News
                p
                  | Here is 3 Easy Steps to Busy & Sell Bitcoin. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          .row
            .col-lg-4.col-md-12
              .iq-news-box
                .iq-news-image.clearfix
                  img.img-fluid(src='http://via.placeholder.com/400x300', alt='#')
                  .news-date
                    i.fa.fa-calendar(aria-hidden='true')
                    |  12 Aug 2017
                .iq-news-detail.iq-pall-20.grey-bg
                  a.news-tag.iq-font-yellow(href='#') Bitcoin
                  .news-title
                    a(href='#')
                      h5.iq-tw-5 News Post With Image
                  .news-content
                    p
                      | Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.
                    a.iq-mt-5(href='#')
                      | Read More 
                      i.ion-ios-arrow-forward(aria-hidden='true')
            .col-lg-4.col-md-12
              .iq-news-box
                .iq-news-image.clearfix
                  img.img-fluid(src='http://via.placeholder.com/400x300', alt='#')
                  .news-date
                    i.fa.fa-calendar(aria-hidden='true')
                    |  12 Aug 2017
                .iq-news-detail.iq-pall-20.grey-bg
                  a.news-tag.iq-font-yellow(href='#') Exchange
                  .news-title
                    a(href='#')
                      h5.iq-tw-5 News Post With Image
                  .news-content
                    p
                      | Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.
                    a.iq-mt-5(href='#')
                      | Read More 
                      i.ion-ios-arrow-forward(aria-hidden='true')
            .col-lg-4.col-md-12
              .iq-news-box
                .iq-news-image.clearfix
                  img.img-fluid(src='http://via.placeholder.com/400x300', alt='#')
                  .news-date
                    i.fa.fa-calendar(aria-hidden='true')
                    |  12 Aug 2017
                .iq-news-detail.iq-pall-20.grey-bg
                  a.news-tag.iq-font-yellow(href='#') Wallet
                  .news-title
                    a(href='#')
                      h5.iq-tw-5 News Post With Image
                  .news-content
                    p
                      | Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.
                    a.iq-mt-5(href='#')
                      | Read More 
                      i.ion-ios-arrow-forward(aria-hidden='true')
      // Latest News
    // Main Content End
    //
      =================================
      Footer
    footer.iq-footer-3.dark-bg
      .footer-top.overview-block-pt.iq-pb-60
        .container
          .row
            .col-lg-3.col-md-6.col-sm-12
              .logo
                img.img-fluid(src='/images/logo-white.png ', alt='# ')
                .iq-font-white.iq-mt-15
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industry's standard dummy.
                ul.iq-media-blog.iq-mt-20
                  li
                    a(href='# ')
                      i.fa.fa-twitter
                  li
                    a(href='# ')
                      i.fa.fa-facebook
                  li
                    a(href='# ')
                      i.fa.fa-google
                  li
                    a(href='# ')
                      i.fa.fa-github
            .col-lg-4.col-md-6.col-sm-12.iq-contact.iq-r4-mt-40
              .heading-left
                h5.title.iq-tw-5.iq-font-white Contact CoinEx
              .iq-mb-20
                .blog
                  i.ion-ios-telephone-outline
                  .content
                    .iq-tw-6.title Phone
                    |  +0123 456 789
              .iq-mb-20
                .blog
                  i.ion-ios-email-outline
                  .content
                    .iq-tw-6.title Mail
                    |  mail@coinex.com
              .blog
                i.ion-ios-location-outline
                .content
                  .iq-tw-6.title Address
                  |  1234 North Luke Lane, South Bend,IN 360001
            .col-lg-2.col-md-6.col-sm-12.iq-r-mt-40
              .footer-menu
                .heading-left
                  h5.title.iq-tw-5.iq-font-white Menu
                ul.iq-pl-0
                  li
                    a(href='# ') Home
                  li
                    a(href='# ') About Us
                  li
                    a(href='# ') Services
                  li
                    a(href='# ') Faqs
                  li
                    a(href='# ') Contact Us
            .col-lg-3.col-md-6.col-sm-12.iq-r-mt-40
              .heading-left
                h5.title.iq-tw-5.iq-font-white Newsletter
              p.iq-font-white
                | Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.
              form.newsletter-form
                .input-group
                  input.form-control.placeholder(type='email', placeholder='Enter your Email')
                  span.input-group-addon.btn-group
                    button#submit.button(name='submit', type='submit', value='Send') Go
      .footer-bottom.iq-ptb-20
        .container
          .row
            .col-sm-12.text-center
              .iq-copyright.iq-mt-10.iq-font-white
                | Copyright 
                span#copyright
                  script.
                    document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
                a(href='#') CoinEx
                |  All Rights Reserved
    //
      =================================
      Footer
    //
      =================================
      Login
    .modal.fade.iq-login(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.iq-tw-5 Login
            a.close(data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form(method='post', action='/login')
              .form-group
                input#recipient-name.form-control(type='text', name='username', placeholder='Enter Name',required='')
              .form-group
                input#recipient-password.form-control(type='password', name='password', placeholder='Password',required='')
              .form-buttons#captcha_input
                center
                  .g-recaptcha(data-sitekey='6LdO6j0UAAAAAGEunSa_Fq3ZarHhFeJbPYqDyO4P')
                  //production - 6LfXbzsUAAAAALCk_NicLha3d-KG_0GRNRxAJUMs
                  //development - 6LdO6j0UAAAAAGEunSa_Fq3ZarHhFeJbPYqDyO4P
                  br
              hr
              button.iq-mtb-10(type='submit') Sign In
              .row
                .col-xs-6
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | Remember Me
                .col-xs-6.text-right
                  a(href='#') Forgot Password
          .modal-footer.text-center
            div
              | Don't Have an Account? 
              a.iq-font-yellow(href='#') Register Now
            div
              | Didn't receive Activation Link? 
              a.iq-font-yellow(href='#') Send Mail
              
    //
      =================================
      Login
    //
      =================================
      Register
    .modal.fade.iq-register(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.iq-tw-5 Register
            a.close(data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form(method='post', action='/signup')
              .form-group
                input#recipient-username.form-control(type='text', placeholder='Username',required='',name='username')
              .form-group
                input#recipient-email.form-control(type='text', placeholder='Email',required='',name='emailUser')
              .form-group
                input#recipient-name.form-control(type='text', placeholder='Full Name',required='',name='name')
              .form-group
                input#mobile-number.form-control(type='number', placeholder='Mobile Number',required='',name='mobileUser')
              .form-group
                input#password.form-control(type='password', placeholder='Password',required='',name='passUser')
              .form-group
                input#passwordConf.form-control(type='password', placeholder='Confirm Password',required='')
              .form-group
                | * Enter a 4 digit PIN (Remember it for future)
                input#sensPin.form-control(type='pinsSense', placeholder='Pin',required='',name='pinUser')
              .form-check
                label.form-check-label
                  input.form-check-input(type='checkbox')
                  | I Agree to the Terms and Conditions
              p
                | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              .form-buttons#captcha_input1
                center
                  .g-recaptcha(data-sitekey='6LdO6j0UAAAAAGEunSa_Fq3ZarHhFeJbPYqDyO4P')
                  //production - 6LfXbzsUAAAAALCk_NicLha3d-KG_0GRNRxAJUMs
                  //development - 6LdO6j0UAAAAAGEunSa_Fq3ZarHhFeJbPYqDyO4P
                  br
              button.iq-mtb-10(type='submit') Sign Up
          .modal-footer.text-center
            div
              | Already Have an Account? 
              a.iq-font-yellow(href='javascript:void(0)',onclick='open_login()')
                | Login
    //
      =================================
      Register

    // back-to-top
    #back-to-top
      a#top.top(href='#top')
        i.ion-ios-upload-outline
    // back-to-top End
    // jquery-min JavaScript
    script(src='/js/views/js1/jquery-min.js')
    // popper JavaScript
    script(src='/js/views/js1/popper.min.js')
    // Bootstrap JavaScript
    script(src='/js/views/js1/bootstrap.min.js')
    // Bitcoin widget JavaScript
    script(src='/js/views/js1/widget.js')
    // All-plugins JavaScript
    script(src='/js/views/js1/all-plugins.js')
    // particles JavaScript
    script(src='/js/views/js1/particles.js')
    // REVOLUTION JS FILES
    script(src='/revslider/js/jquery.themepunch.tools.min.js')
    script(src='/revslider/js/jquery.themepunch.revolution.min.js')
    // SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading)
    script(src='/revslider/js/extensions/revolution.extension.actions.min.js')
    script(src='/revslider/js/extensions/revolution.extension.carousel.min.js')
    script(src='/revslider/js/extensions/revolution.extension.kenburn.min.js')
    script(src='/revslider/js/extensions/revolution.extension.layeranimation.min.js')
    script(src='/revslider/js/extensions/revolution.extension.migration.min.js')
    script(src='/revslider/js/extensions/revolution.extension.navigation.min.js')
    script(src='/revslider/js/extensions/revolution.extension.parallax.min.js')
    script(src='/revslider/js/extensions/revolution.extension.slideanims.min.js')
    script(src='/revslider/js/extensions/revolution.extension.video.min.js')
    // Custom JavaScript
    script(src='/js/views/js1/custom.js ')
    script(src='https://www.google.com/recaptcha/api.js')

    script.
      var revapi4,
      tpj = jQuery;
      tpj(document).ready(function() {
      if (tpj("#rev_slider_4_1").revolution == undefined) {
      revslider_showDoubleJqueryError("#rev_slider_4_1");
      } else {
      revapi4 = tpj("#rev_slider_4_1").show().revolution({
      sliderType: "standard",
      sliderLayout: "fullwidth",
      dottedOverlay: "none",
      delay: 9000,
      navigation: {
      keyboardNavigation: "off",
      keyboard_direction: "horizontal",
      mouseScrollNavigation: "off",
      mouseScrollReverse: "default",
      onHoverStop: "off",
      arrows: {
      style: "zeus",
      enable: true,
      hide_onmobile: false,
      hide_onleave: false,
      tmp: '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
      left: {
      h_align: "left",
      v_align: "center",
      h_offset: 20,
      v_offset: 0
      },
      right: {
      h_align: "right",
      v_align: "center",
      h_offset: 20,
      v_offset: 0
      }
      }
      },
      visibilityLevels: [1240, 1024, 778, 480],
      gridwidth: 1170,
      gridheight: 790,
      lazyType: "none",
      shadow: 0,
      spinner: "spinner0",
      stopLoop: "off",
      stopAfterLoops: -1,
      stopAtSlide: -1,
      shuffle: "off",
      autoHeight: "off",
      disableProgressBar: "on",
      hideThumbsOnMobile: "off",
      hideSliderAtLimit: 0,
      hideCaptionAtLimit: 0,
      hideAllCaptionAtLilmit: 0,
      debugMode: false,
      fallbacks: {
      simplifyAll: "off",
      nextSlideOnWindowFocus: "off",
      disableFocusListener: false,
      }
      });
      }
      }); /*ready*/
      
      function open_login()
      {
        $('.iq-register').modal('hide');
        $('.iq-login').modal('show');
      }
