doctype html
html
	head
		title SIPCOIN - Crypto Currency 
		meta(charset='utf-8')
		link(rel='stylesheet', href='/js/views/bootstrap.min.css')
		link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
		
	body

		block content
		block scripts
