doctype html
html
  head
    link(type='text/css', rel='stylesheet', href='/css/materialize.css', media='screen,projection')
    link(type='text/css', rel='stylesheet', href='/css/animate.css')
    link(type='text/css', rel='stylesheet', href='/css/main.css')
    link(type='text/css', rel='stylesheet', href='/css/mate_icon.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style.
      input:focus{
      background-color:white;
      }
  body(style='overflow-x: none;')
    #modal1.modal
      .modal-content
        center
          h4.heading_data 
          br
          h6.result_data           
    .main_frame
      #canvas
        #lf.lowerHalf(style='top:30vh;z-index:1000;')
          .container
            .row
              br
              .col.l6.offset-l3
                .row.card.z-depth-5
                  form#login.col.l8.offset-l2(method='post')
                    .row
                      br
                      .input-field.col.s12
                        i.material-icons.prefix(style='color:#e91e63;') account_circle
                        input#icon_user_name(type='text', name='name', required='',style='background-color:white;border-bottom:1px #e91e63 solid')
                        label(for='icon_user_name') User Name
                      .input-field.col.s12
                        i.material-icons.prefix(style='color:#e91e63;') vpn_key
                        input#icon_pass(type='password', name='password', required='',style='background-color:white;border-bottom:1px #e91e63 solid')
                        label(for='icon_pass') Password
                      .col.s12
                        .center
                          .g-recaptcha(data-sitekey='6LdO6j0UAAAAAGEunSa_Fq3ZarHhFeJbPYqDyO4P')
                      .col.s12.center
                        br
                        button.btn.pink(type='submit') Login
                        hr
                      .col.s12.center
                        a.waves-effect.waves-light.btn(href='/signup')
                          i.material-icons.left account_circle
                          | Register


        #loader.lowerHalf.newColor
          div(style='transform: translate(-50%,-50%);position: absolute;top:50%;left: 50%;', align='center')
            img#loadr(src='css/loader.gif', height='50%', width='50%')
            #completion.white-text
        #returnProfile.lowerHalf.animated.fadeInUp
        #upperHalf.bgcolor.z-depth-5
          #bg
            //
              <div id="logoM" >
              <img class="z-depth-5" src="css/logo1.png" height="auto" width="100%">
              </div>
            #title
              a.tooltipped(data-position='bottom', data-delay='50', data-tooltip='Know More, Do Better', style='color: white') Child Care Home Automation
            //
              <div id="doQueryButton">
              <div class="input-field col s12">
              <a href="#modal1" data-position="left" data-delay="50" data-tooltip="Search" class="btn-floating btn-large waves-effect waves-light teal tooltipped modal-trigger"><i class="material-icons">search</i></a>
              </div>
              </div>
    script(src='/js/views/jquery.min.js')
    script(src='/js/views/materialize.js')
    script(src='/js/views/main.js')
    script(src='/js/views/jquery.form.js')
    script(src='https://www.google.com/recaptcha/api.js')
    script.
      function show_register_form(){
        $('#register').css('display','block');
        $('#login').css('display','none');
      }
      function show_login_form(){
        $('#register').css('display','none');
        $('#login').css('display','block');
      }
      
