.modal-alert.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				//button.close(data-dismiss='modal') x
				h4(style="color:black;")
			.modal-body(style="color:black;")
				p(style="color:black;")
			.modal-footer
				button.btn.btn-primary(data-dismiss="modal") OK
