.modal-form-errors.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				h4(style="color:black;") Whoops!
			.modal-body(style="color:black;")
				| It looks like there was a problem.
				ul
			.modal-footer
				button(data-dismiss="modal").btn.btn-primary OK
