doctype html
html(lang='en')
  head
    title SIPCOIN - Crypto Currency
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Favicon
    link(rel='shortcut icon', href='images/favicon.ico')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=PT+Sans&Ubuntu:400,500,700', rel='stylesheet')
    // Bootstrap CSS
    link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
    // Magnific Popup CSS
    link(rel='stylesheet', type='text/css', href='css/magnific-popup/magnific-popup.css')
    // owl-carousel CSS
    link(rel='stylesheet', type='text/css', href='css/owl-carousel/owl.carousel.css')
    // Animate CSS
    link(rel='stylesheet', type='text/css', href='css/animate.css')
    // Font Awesome
    link(rel='stylesheet', type='text/css', href='css/font-awesome.css')
    // Ionicons CSS
    link(rel='stylesheet', type='text/css', href='css/ionicons.min.css')
    // Flaticon CSS
    link(rel='stylesheet', type='text/css', href='css/flaticon.css')
    // Flaticon CSS
    link(rel='stylesheet', type='text/css', href='css/shop.css')
    // REVOLUTION STYLE SHEETS
    link(rel='stylesheet', type='text/css', href='revslider/css/settings.css')
    // style CSS
    link(rel='stylesheet', type='text/css', href='css/style.css')
    // Responsive CSS
    link(rel='stylesheet', type='text/css', href='css/responsive.css')
    // Custom CSS
    link(rel='stylesheet', type='text/css', href='css/custom.css')
  body
    // loading
    #loading
      #loading-center
        img(src='images/loader.gif', alt='loder')
    // loading End
    // Header
    header
      .topbar
        .container
          .row
            .col-lg-6.col-md-6.col-sm-6
              .topbar-left
            .col-lg-6.col-md-6.col-sm-6
              .topbar-right.text-right
                ul.list-inline
                  li.list-inline-item
                    ul.list-inline.iq-left
                      li.list-inline-item
                        a(href='#', data-toggle='modal', data-target='.iq-login', data-whatever='@mdo')
                          i.fa.fa-lock
                          | Login
                      li.list-inline-item
                        a(href='#', data-toggle='modal', data-target='.iq-register', data-whatever='@fat')
                          i.fa.fa-user
                          | Register
                  li.list-inline-item
                    a(href='#')
                      i.fa.fa-comments-o
                      | Free Consulting
      .iq-header
        .container
          .row
            .col-md-12
              .logo
                a(href='/home-2 ')
                  img.img-fluid(src='images/logo/sipcoin_black.png', alt='logo')
              nav
                a#resp-menu.responsive-menu(href='#')
                  i.fa.fa-reorder
                  |  Menu
                ul.menu.text-right
                  li
                    a(href='/home-2 ') HOME
                  li
                    a.active(href='/about-us ') About Us
                  li
                    a(href='/pricing ') Plans
                  li
                    // <a href="/faqs-1 ">FAQ's</a>
                    a(href='#') FAQ's
                  li
                    // <a href="/blog-left-sidebar ">Blog</a>
                    a(href='#') Blog
                  li
                    // <a href="/coming-soon-1 ">Live Trading</a>
                    a(href='#') Live Trading
                  li
                    a(href='/contact-2 ') Contact
                  li
                    .iq-search
                      a.search-btn.not_click(href='javascript:void(0);')
                        span Search Button
                      .search-box.not-click
                        input#exampleInputEmail1.form-control.not-click(type='email', placeholder='Search')
                        i.ti-search
    // Header End
    .clearfix
    // ======= Breadcrumb Inner Page =======
    section.iq-bg.iq-bg-fixed.iq-over-black-80.jarallax.iq-breadcrumb.text-center.iq-font-white(style="background-image: url('revslider/assets/team.jpg'); background-position: center center;")
      .container
        .row
          .col-lg-8.offset-lg-2
            .heading-title
              h3.title.text-uppercase.iq-font-white.iq-tw-6 About Us
            p
              | Our team has been monitoring the Blockchain & Cryptocurrency space since 2016. We have been mining, trading and investing in coins & various platforms. During this journey we have accumulated a good repository of knowledge and made a extensive international network of professionals & enthusiasts. Read through to know more about us.
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/home-2 ') Home
          li.breadcrumb-item.active(aria-current='page') About Us
    // ======= Breadcrumb Inner Page =======
    // Main Content
    .main-content
      // About Us
      section.overview-block-ptb.device-blog.grey-bg
        .container
          .row
            .col-sm-12(align='justify')
              h3.iq-font-black.iq-tw-5
                | OUR STORY:
                span.iq-font-yellow  Why We Do What We Do?
              p.iq-mt-10
                | Our team of professionals has been monitoring the Blockchain, Cryptocurrency and Regulatory space since early 2016. We have been mining, trading and investing in coins & various platforms. During this journey we have accumulated a good repository of knowledge and made a extensive international network of professionals & enthusiasts.
              p.iq-mt-10
                | Blockchain Technology was built to eliminate TRUST issues. The fundamental objective is to make transactions trustless. It's unfortunate that in the name of Blockchain, in the name of Crypto Trading and in the name of ICO's many people have been deceived in the last 2 years. Every week there is a platform which promises guaranteed returns and majority of times huge returns of upto 50% in a month. Few weeks or months later the project is either in trouble, or hacked or just vanishes. This is the TRUTH.
              p.iq-mt-10
                | The stories of people who have lost their hard earned money have begged us to build a platform which is not only open source, secure but also extremely transparent. Our model is to deliver consistent profits for our users through our experience, knowledge and trading discipline. We combine the volatility factor, market dynamics and information of Geo-political shifts; overlay this with trading strategies to benefit from the 24X7 functioning crypto currency markets. Our research group is constantly looking for the best coins to invest for short, medium and long term.
              p.iq-mt-10
                | Underneath our strategy is the core foundation which is to protect our user digital capital at all times. Our data driven approach helps us keep GREED at bay which in our experience is the key destroyer of crypto capital. We treat the inherent volatility as a feature to trade and gather profit for our users, our diversification strategy helps us accumulate liquid capital to fulfill our commitments for upto 12 months in case of bear market trends.
              p.iq-mt-10
              p.iq-mt-10
              p.iq-mt-10
            .col-lg-6.col-md-12
              img.img-fluid.mx-auto.d-block.iq-mt-10(src='images/device/01.png', alt='icon1')
            .col-lg-6.col-md-12.about-box.align-self-center
              blockquote.iq-mt-20.white-bg.iq-pall-30.font-italic
                | On community education, we understand that to track 300+ exchanges and 1500 coins is a highly confusing task for even the brightest individuals. The user community registered with us receive real time and daily information on whats happening in the crypto currency and ICO markets.
              p.iq-mt-10.font-weight-bold
                | For transparency, we publish our top 10 percentage holdings of coins in the platform portfolio. This is available in the live trading section of your dashboard. This helps our users to copy the same trades on various exchanges so they can learn and add more profits to their existing returns from our platform.
              p
                | Our upcoming feature model portfolio (end 2018) will also use various gamification techniques to provide user to trade and learn on demonstration portal. This will increase confidence of users to research, trade and invest  in the real exchanges.
      // About Us
      // services
      // services
      // Counter
      // Team
      // Clients
      .iq-our-clients.yellow-bg.iq-ptb-30
        .container
          .row
            .col-lg-12.col-md-12
              .owl-carousel(data-nav-dots='false', data-nav-arrow='false', data-items='5', data-sm-items='3', data-lg-items='5', data-md-items='4', data-autoplay='true')
                .item
                  img.img-fluid.center-block(src='images/clients/white/01.png', alt='#')
                .item
                  img.img-fluid.center-block(src='images/clients/white/02.png', alt='#')
                .item
                  img.img-fluid.center-block(src='images/clients/white/03.png', alt='#')
                .item
                  img.img-fluid.center-block(src='images/clients/white/04.png', alt='#')
                .item
                  img.img-fluid.center-block(src='images/clients/white/05.png', alt='#')
                .item
                  img.img-fluid.center-block(src='images/clients/white/06.png', alt='#')
                .item
                  img.img-fluid.center-block(src='images/clients/white/01.png', alt='#')
                .item
                  img.img-fluid.center-block(src='images/clients/white/02.png', alt='#')
                .item
                  img.img-fluid.center-block(src='images/clients/white/03.png', alt='#')
                .item
                  img.img-fluid.center-block(src='images/clients/white/04.png', alt='#')
                .item
                  img.img-fluid.center-block(src='images/clients/white/05.png', alt='#')
                .item
                  img.img-fluid.center-block(src='images/clients/white/06.png', alt='#')
      // Clients
    // Main Content End
    //
      =================================
      Footer
    footer.iq-footer-3.dark-bg
      .footer-top.overview-block-pt.iq-pb-0
        .container
          .row
            .col-lg-4.col-md-3.col-sm-12.iq-contact.iq-r4-mt-40
              .heading-left
                h5.title.iq-tw-5.iq-font-white Contact Sipcoin
              .iq-mb-20
                .blog
                  i.ion-ios-telephone-outline
                  .content
                    .iq-tw-6.title
                      a(href='http://support.sipcoin.io/support/')  Support Center
            .logo.col-lg-4.text-center
              img(src='images/revolution/sipcoin.png', alt='logo')
            .col-lg-4.col-md-6.col-sm-6
              .logo
                img.img-fluid.iq-ml-60(src='images/logo/sipcoin_white.png ', alt='#')
                .iq-font-white.iq-mt-15(align='justify')
                  | SIPcoin is based on Ethereum smart contracts. Ethereum is the number two Blockchain of the world. It is opensource, decentralized and transparent & cannot be manipulated.
                br
      .footer-bottom.iq-ptb-20
        .container
          .row
            .col-sm-12.text-center
              ul.iq-media-blog.iq-mt-20.text-center
                li
                  a(href=' https://twitter.com/sipcoin_io ')
                    i.fa.fa-twitter
                li
                  a(href=' https://www.facebook.com/sipcoin/ ')
                    i.fa.fa-facebook
                li
                  a(href=' https://www.instagram.com/sipcoin.io/?hl=en ')
                    i.fa.fa-instagram
                li
                  a(href=' https://goo.gl/e37G3Z ')
                    i.fa.fa-slack
            .col-sm-12.text-center
              .iq-copyright.iq-mt-10.iq-font-white
                | Copyright
                span#copyright
                  script.
                    document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
                a(href='/home-2 ') Sipoin
                |  All Rights Reserved
    //
      =================================
      Footer
    //
      =================================
      Login
    .modal.fade.iq-login(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.iq-tw-5 Login
            a.close(data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form
              .form-group
                input#recipient-name.form-control(type='text', placeholder='Enter Name')
              .form-group
                input#recipient-password.form-control(type='password', placeholder='Password')
              a.button.iq-mtb-10(href='#') Sign In
              .row
                .col-sm-6
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | Remember Me
                .col-sm-6.text-right
                  a(href='#') Forgot Password
          .modal-footer.text-center
            div
              | Don't Have an Account?
              a.iq-font-yellow(href='#', data-toggle='modal', data-target='.iq-register', data-whatever='@fat') Register Now
    //
      =================================
      Login
    //
      =================================
      Register
    .modal.fade.iq-register(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.iq-tw-5 Register
            a.close(data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form
              .form-group
                input#recipient-username.form-control(type='text', placeholder='User Name')
              .form-group
                input#recipient-email.form-control(type='text', placeholder='Email')
              .form-group
                input#password.form-control(type='password', placeholder='Password')
              .form-check
                label.form-check-label
                  input.form-check-input(type='checkbox')
                  | I Agree to the Terms and Conditions
              a.button.iq-mtb-10(href='#') Sign Up
          .modal-footer.text-center
            div
              | Already Have an Account?
              a.iq-font-yellow(href='#', data-toggle='modal', data-target='.iq-register', data-whatever='@fat') Login
    //
      =================================
      Register
    // back-to-top
    #back-to-top
      a#top.top(href='#top')
        i.ion-ios-upload-outline
    // back-to-top End
    // jquery-min JavaScript
    script(src='js/jquery-min.js ')
    // popper JavaScript
    script(src='js/popper.min.js ')
    // Bootstrap JavaScript
    script(src='js/bootstrap.min.js ')
    // Bitcoin widget JavaScript
    script(src='js/widget.js ')
    // All-plugins JavaScript
    script(src='js/all-plugins.js ')
    // particles JavaScript
    script(src='js/particles.js ')
    // Custom JavaScript
    script(src='js/custom.js ')
