doctype html
html(lang='en')
  head
    title SIPCOIN - Crypto Currency
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Favicon
    link(rel='shortcut icon', href='images/favicon.ico')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=PT+Sans&Ubuntu:400,500,700', rel='stylesheet')
    // Bootstrap CSS
    link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
    // Magnific Popup CSS
    link(rel='stylesheet', type='text/css', href='css/magnific-popup/magnific-popup.css')
    // owl-carousel CSS
    link(rel='stylesheet', type='text/css', href='css/owl-carousel/owl.carousel.css')
    // Animate CSS
    link(rel='stylesheet', type='text/css', href='css/animate.css')
    // Font Awesome
    link(rel='stylesheet', type='text/css', href='css/font-awesome.css')
    // Ionicons CSS
    link(rel='stylesheet', type='text/css', href='css/ionicons.min.css')
    // Flaticon CSS
    link(rel='stylesheet', type='text/css', href='css/flaticon.css')
    // Flaticon CSS
    link(rel='stylesheet', type='text/css', href='css/shop.css')
    // REVOLUTION STYLE SHEETS
    link(rel='stylesheet', type='text/css', href='revslider/css/settings.css')
    // style CSS
    link(rel='stylesheet', type='text/css', href='css/style.css')
    // Responsive CSS
    link(rel='stylesheet', type='text/css', href='css/responsive.css')
    // Custom CSS
    link(rel='stylesheet', type='text/css', href='css/custom.css')
  body
    // loading
    #loading
      #loading-center
        img(src='images/loader.gif', alt='loder')
    // loading End
    // Header
    header
      .topbar
        .container
          .row
            .col-lg-6.col-md-6.col-sm-6
              .topbar-left
            .col-lg-6.col-md-6.col-sm-6
              .topbar-right.text-right
                ul.list-inline
                  li.list-inline-item
                    ul.list-inline.iq-left
                      li.list-inline-item
                        a(href='#', data-toggle='modal', data-target='.iq-login', data-whatever='@mdo')
                          i.fa.fa-lock
                          | Login
                      li.list-inline-item
                        a(href='#', data-toggle='modal', data-target='.iq-register', data-whatever='@fat')
                          i.fa.fa-user
                          | Register
                  li.list-inline-item
                    a(href='#')
                      i.fa.fa-comments-o
                      | Free Consulting
      .iq-header
        .container
          .row
            .col-md-12
              .logo
                a(href='/home-2 ')
                  img.img-fluid(src='images/logo/sipcoin_black.png', alt='logo')
              nav
                a#resp-menu.responsive-menu(href='#')
                  i.fa.fa-reorder
                  |  Menu
                ul.menu.text-right
                  li
                    a(href='/home-2 ') HOME
                  li
                    a(href='/about-us ') About Us
                  li
                    a(href='/pricing ') Plans
                  li
                    // <a href="/faqs-1 ">FAQ's</a>
                    a(href='#') FAQ's
                  li
                    // <a href="/blog-left-sidebar ">Blog</a>
                    a(href='#') Blog
                  li
                    // <a href="/coming-soon-1 ">Live Trading</a>
                    a(href='#') Live Trading
                  li
                    a(href='/contact-2 ') Contact
                  li
                    .iq-search
                      a.search-btn.not_click(href='javascript:void(0);')
                        span Search Button
                      .search-box.not-click
                        input#exampleInputEmail1.form-control.not-click(type='email', placeholder='Search')
                        i.ti-search
    // Header End
    .clearfix
    // ======= Breadcrumb Inner Page =======
    section.iq-bg.iq-bg-fixed.iq-over-black-80.jarallax.iq-breadcrumb.text-center.iq-font-white(style="background-image: url('images/bg/question.jpg'); background-position: center center;")
      .container
        .row
          .col-lg-8.offset-lg-2
            .heading-title
              h3.title.text-uppercase.iq-font-white.iq-tw-6 Faq
            p
              | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/home-2 ') Home
          li.breadcrumb-item.active(aria-current='page') Faq
    // ======= Breadcrumb Inner Page =======
    // Main Content
    .main-content
      // Client
      .iq-faqs.overview-block-ptb
        .container
          .row
            .col-sm-12
              #accordion(role='tablist')
                .card
                  #headingOne.card-header(role='tab')
                    div
                      a(data-toggle='collapse', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                        | Lorem Ipsum is simply dummy text of the printing?
                  #collapseOne.collapse.show(role='tabpanel', aria-labelledby='headingOne', data-parent='#accordion')
                    .card-body
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                .card
                  #headingTwo.card-header(role='tab')
                    div
                      a.collapsed(data-toggle='collapse', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                        | Ipsum is simply dummy text of the printing?
                  #collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo', data-parent='#accordion')
                    .card-body
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                .card
                  #headingThree.card-header(role='tab')
                    div
                      a.collapsed(data-toggle='collapse', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                        | Simply dummy text of the printing and typesetting industry?
                  #collapseThree.collapse(role='tabpanel', aria-labelledby='headingThree', data-parent='#accordion')
                    .card-body
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                .card
                  #headingFour.card-header(role='tab')
                    div
                      a.collapsed(data-toggle='collapse', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                        | Ipsum is simply dummy text of the printing?
                  #collapseFour.collapse(role='tabpanel', aria-labelledby='headingFour', data-parent='#accordion')
                    .card-body
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                .card
                  #headingFive.card-header(role='tab')
                    div
                      a.collapsed(data-toggle='collapse', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                        | Lorem Ipsum is simply dummy text of the printing?
                  #collapseFive.collapse(role='tabpanel', aria-labelledby='headingFive', data-parent='#accordion')
                    .card-body
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                .card
                  #headingSix.card-header(role='tab')
                    div
                      a.collapsed(data-toggle='collapse', href='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                        | Ipsum is simply dummy text of the printing?
                  #collapseSix.collapse(role='tabpanel', aria-labelledby='headingSix', data-parent='#accordion')
                    .card-body
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      // Client
      // Main Content End
    //
      =================================
      Footer
    footer.iq-footer-3.dark-bg
      .footer-top.overview-block-pt.iq-pb-0
        .container
          .row
            .col-lg-4.col-md-3.col-sm-12.iq-contact.iq-r4-mt-40
              .heading-left
                h5.title.iq-tw-5.iq-font-white Contact Sipcoin
              .iq-mb-20
                .blog
                  i.ion-ios-telephone-outline
                  .content
                    .iq-tw-6.title
                      a(href='http://support.sipcoin.io/support/')  Support Center
            .logo.col-lg-4.text-center
              img(src='images/revolution/sipcoin.png', alt='logo')
            .col-lg-4.col-md-6.col-sm-6
              .logo
                img.img-fluid.iq-ml-60(src='images/logo/sipcoin_white.png ', alt='#')
                .iq-font-white.iq-mt-15(align='justify')
                  | SIPcoin is based on Ethereum smart contracts. Ethereum is the number two Blockchain of the world. It is opensource, decentralized and transparent & cannot be manipulated.
                br
      .footer-bottom.iq-ptb-20
        .container
          .row
            .col-sm-12.text-center
              ul.iq-media-blog.iq-mt-20.text-center
                li
                  a(href=' https://twitter.com/sipcoin_io ')
                    i.fa.fa-twitter
                li
                  a(href=' https://www.facebook.com/sipcoin/ ')
                    i.fa.fa-facebook
                li
                  a(href=' https://www.instagram.com/sipcoin.io/?hl=en ')
                    i.fa.fa-instagram
                li
                  a(href=' https://goo.gl/e37G3Z ')
                    i.fa.fa-slack
            .col-sm-12.text-center
              .iq-copyright.iq-mt-10.iq-font-white
                | Copyright
                span#copyright
                  script.
                    document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
                a(href='/home-2 ') Sipoin
                |  All Rights Reserved
    //
      =================================
      Footer
    //
      =================================
      Login
    .modal.fade.iq-login(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.iq-tw-5 Login
            a.close(data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form
              .form-group
                input#recipient-name.form-control(type='text', placeholder='Enter Name')
              .form-group
                input#recipient-password.form-control(type='password', placeholder='Password')
              a.button.iq-mtb-10(href='#') Sign In
              .row
                .col-sm-6
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | Remember Me
                .col-sm-6.text-right
                  a(href='#') Forgot Password
          .modal-footer.text-center
            div
              | Don't Have an Account?
              a.iq-font-yellow(href='#', data-toggle='modal', data-target='.iq-register', data-whatever='@fat') Register Now
    //
      =================================
      Login
    //
      =================================
      Register
    .modal.fade.iq-register(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.iq-tw-5 Register
            a.close(data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form
              .form-group
                input#recipient-username.form-control(type='text', placeholder='User Name')
              .form-group
                input#recipient-email.form-control(type='text', placeholder='Email')
              .form-group
                input#password.form-control(type='password', placeholder='Password')
              .form-check
                label.form-check-label
                  input.form-check-input(type='checkbox')
                  | I Agree to the Terms and Conditions
              a.button.iq-mtb-10(href='#') Sign Up
          .modal-footer.text-center
            div
              | Already Have an Account?
              a.iq-font-yellow(href='#', data-toggle='modal', data-target='.iq-register', data-whatever='@fat') Login
    //
      =================================
      Register
    // back-to-top
    #back-to-top
      a#top.top(href='#top')
        i.ion-ios-upload-outline
    // back-to-top End
    // jquery-min JavaScript
    script(src='js/jquery-min.js ')
    // popper JavaScript
    script(src='js/popper.min.js ')
    // Bootstrap JavaScript
    script(src='js/bootstrap.min.js ')
    // Bitcoin widget JavaScript
    script(src='js/widget.js ')
    // All-plugins JavaScript
    script(src='js/all-plugins.js ')
    // particles JavaScript
    script(src='js/particles.js ')
    // Custom JavaScript
    script(src='js/custom.js ')
